.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Стили для видеофона */
#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: cover;
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* Проверка на поддержку свойства object-fit: */

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Отключение видео для устройств с размером экрана менее 800px: */

@media screen and (max-device-width: 800px) {
  #video-bg > video {
    display: none;
  }
}

.mute {
  display: inline-block;
  position: absolute;
  margin: 40px;
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25),
    inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.mute:focus {
  outline: none;
}

/* Страница перехода */
.mainPages_main {
  position: absolute;
  background: url(/img/background/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.mainPages_main a {
  width: 358px;
  height: 147px;
  position: absolute;
  background: url(/img/controls/XIX-XX_1.png) no-repeat;
  background-size: 360px;
  margin: 31% auto;
  left: 0%;
  top: 0%;
  right: 0%;
}

.mainPages_main a:hover {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

/* Страница с газетами */
.newspapers_navigation {
  position: absolute;
  background: url(/img/background/menu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.newspaper_item_politics a {
  position: absolute;
  top: -3.5%;
  left: 11%;
  z-index: 10;
}

.newspaper_item_battles a {
  position: absolute;
  top: 0;
  right: 9%;
  z-index: 11;
}

.newspaper_item_economy a {
  position: absolute;
  bottom: -23%;
  right: 10%;
  z-index: 11;
}

.newspaper_item_culture a {
  position: absolute;
  height: 75%;
  bottom: -9%;
  left: 8%;
  z-index: 12;
}

.newspapers_link {
  text-indent: 0px;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  cursor: pointer;
}

.newspapers_link:hover {
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -webkit-transform: translate(0, -21px);
  -o-transform: translate(0, -21px);
  filter: contrast(1.5);
}